<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  {% load static %}
  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Oxanium:wght@600;700;800&family=Poppins:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>

  <!-- 
    - preload images
  -->
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header">

    <div class="header-top">
      <div class="container">

        <div class="countdown-text">
          Register now,  <span class="span skewBg" id="counter"></span> To close!!
        </div>

        <div class="social-wrapper">

          <p class="social-title">Follow us on :</p>

          <ul class="social-list">

            <li>
              <a href="https://www.instagram.com/ieee_git_official/" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="https://ieeegit.in/ieee-computer-society/" class="social-link">
                <ion-icon name="globe-outline"></ion-icon>
              </a>
            </li>


          </ul>

        </div>

      </div>
    </div>

    <div class="header-bottom skewBg" data-header>
      <div class="container">

        <a href="#" class="logo"><img src="{% static 'images/logo.png' %}" alt="Logo" style="height:45px"></a>

        <nav class="navbar" data-navbar>
          <ul class="navbar-list">

            <li class="navbar-item">
              <a href="{% url 'MainApp:home' %}" class="navbar-link skewBg" data-nav-link>Return to Base</a>
            </li>

            <li class="navbar-item">
              <a href="#live" class="navbar-link skewBg" data-nav-link>Insight</a>
            </li>


            <li class="navbar-item">
              <a href="#shop" class="navbar-link skewBg" data-nav-link>Mission Path</a>
            </li>

            <li class="navbar-item">
              <a href="#contact" class="navbar-link skewBg" data-nav-link>Reinforcements</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link skewBg" onclick="document.getElementById('popup_rulebook').style.display='block'" data-nav-link>Warrior’s Rulebook</a>
            </li>

          </ul>
        </nav>

        <div class="header-actions">
          <button class="cart-btn user" aria-label="cart">
            <ion-icon name="person-sharp"></ion-icon>
            <span class="user-name">{% if user.is_authenticated %}
              {% if user.first_name|length > 8 %}
                  {{ user.first_name|slice:":7" }}..
              {% else %}
                  {{ user.first_name }}
              {% endif %}
          {% else %}
              <a href="javascript:void(0);" onclick="register()">Sign In</a>
          {% endif %}</span>
          </button>

          <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
            <ion-icon name="menu-outline" class="menu"></ion-icon>
            <ion-icon name="close-outline" class="close"></ion-icon>
          </button>

        </div>

      </div>
    </div>

  </header>



  {% block content %}


  {% endblock %}



  





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2024 IEEE CS KLS GIT. All Right Reserved by <a href="#" class="copyright-link">ClashOfCodes</a>
        </p>

        <!-- <img src="{% static 'images/footer-bottom-img.png' %}" width="340" height="21" loading="lazy" alt=""
          class="footer-bottom-img"> -->

      </div>
    </div>

  </footer>


  <div id="loadingOverlay">
    <div class="loader"></div>
</div>


  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="caret-up"></ion-icon>
  </a>

  <div class="popup-continue-registration popup-window" id="popup_rulebook" style="display: none;">
    <div class="popup-body">
      <!-- close button -->
      <button class="close-btn-registration" onclick="document.getElementById('popup_rulebook').style.display='none';">
        <ion-icon name="close-circle-outline"></ion-icon>
      </button>
      <div class="popup-content">
        <h2 class="popup-title">Rule Book</h2>
        <span class="rule-container">
        <span class="rule-body">
      <p><strong>Team Formation:</strong> Participants can form teams of 3 to 5 members.</p>
      <p><strong>Project Scope:</strong> Teams can work on any project within the given theme and domain. The scope can be limited to a specific technology or platform based on the event's guidelines.</p>
      <p><strong>Collaboration:</strong> Teams are encouraged to collaborate and seek help from mentors or organizers, but cross-team collaboration is not allowed during the competition.</p>
      <p><strong>Intellectual Property:</strong> Participants retain full ownership of the intellectual property rights to their projects. However, organizers may request participants to share their code or project details for promotional or showcase purposes.</p>
      <p><strong>Registration Fees:</strong> 600/- INR, charged only for shortlisted teams.</p>
      <p><strong>Important Dates:</strong></p>
      <ul>
        <li>Last date of Registration: {{ registration }}</li>
        <li>Last date of Idea Submission: {{ idea }}</li>
        <li>Final showdown: 29th - 30th November 2024 at KLS GOGTE INSTITUTE OF TECHNOLOGY</li>
      </ul>
      <p><strong>Shortlisting:</strong> Top 40 teams will be shortlisted (waiting list and subsequent teams may be considered).</p>
      <p><strong>Organizer's Decision:</strong> The organizer's decision is final.</p>
      <p><strong>Accommodation:</strong> Accommodation for outsiders will be provided by the organizers.</p>
      <!-- mention the submission ppt template -->
      <p><strong>Submission:</strong> The submission should be in the form of a PDF document, following the template provided by the organizers. <a style="text-decoration:underline;color:#0070ff" href="media/submission_template.pptx">Click to Downlaod</a></p>
      <p><strong>Contact:</strong> Any queries, feel free to mail us at <a href="mailto:contact@clashofcodes.in"></a>contact@clashofcodes.in</p>
    </span>
  </span>
      </div>
      </div>
      </div>



  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <!-- 
    - custom js link
  -->
  <script src="{% static 'js/script.js' %}" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>