body {
    background-color: #f8f9fa;
    font-family: var(--ff-oxanium);
    color: var(--black);
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.nav {
    display: flex;
    position: static;
    width: 100vw;
    height: 6rem;
    background-color: #282734;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.menu {

    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-start{
    width: 5rem;
}
.menu-end{
    padding-right: 2rem;
}
.click{
    cursor: pointer;
}
.footer {
    height: 3rem;
    position: fixed;
    bottom:0px;
    right:0px;
    display: flex;
    width: 100vw;
    background-color: #282734;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.container {
    height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

span.setting-title {
    font-size: 1.2rem;
    font-family: monospace;
    color: white;
}

/* toggle code */

.switch {
    --secondary-container: hsla(42, 99%, 46%, 0.75);
    --primary: hsl(42, 99%, 46%);
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.7em;
    height: 1.8em;
   }
   
   .switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f3f0f0;
    transition: .2s;
    border-radius: 30px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background-color: #aeaaae;
    transition: .4s;
   }
   
   input:checked + .slider::before {
    background-color: var(--primary);
   }
   
   input:checked + .slider {
    background-color: var(--secondary-container);
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-container);
   }
   
   input:checked + .slider:before {
    transform: translateX(1.9em);
   }

  /* toggle code end */


  .info-conatiner {
    width: 700px;
    max-width: 90vw;
    font-size: 1.5rem;
    color: white;
    overflow: auto;
    height: calc( 100vh - 15rem);
    /* background: red; */
}

table, th, td {
    border: hsl(42, 99%, 46%) solid 2px;
    border-collapse: collapse;
    padding: 1rem;
}
td>a {
    color: white;
    text-decoration: none;
    border: white solid 1px;
    padding: .5rem;
    border-radius: .5rem;
    background-color: grey;
}
td>a:hover {
    background-color: white;
    color: black;
}
h3 {
    text-align: center;
    color: white;
}
a {
    color: white;
}
img {
    width: fit-content;
    max-width: 100vw;
}