{% extends 'base.html' %}
{% load static %}
{% block title %}Submission{% endblock %}

{% block content %}
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
 
<!--Script Link  put befor end of </body> -->
<link rel="stylesheet" href="{% static 'css/submission.css' %}">
<main>
    <article>
  
      <!-- 
        - #HERO
      -->
  
      <section class="section hero" id="home" aria-label="home"
        style="background-image: url({% static "images/hero-bg.jpg" %});">
        <div class="container-submission">
  
         <h1>Submission</h1>
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
            <div class="form-group">
              <td><label for="problem-title">Problem Title</label></td>
              <td><input type="text" class="form-control" id="problem-title" name="problem-title" placeholder="Problem Title" required></td>
            </div>
            </tr>
            <tr>
            <div class="form-group">
              <td><label for="problem-description">Problem description</label></td>
              <td><textarea class="form-control" id="problem-description" name="problem-description" rows="3" placeholder="problem description" required></textarea></td>
            </div>
            </tr>
            <tr>
            <div class="form-group">
              <td><label for="solution-description">Solution description</label></td>
              <td><textarea class="form-control" id="solution-description" name="solution-description" rows="3" placeholder="Submission description" required></textarea></td>
            </div>
            </tr>
            <tr>
            <div class="form-group">
              <td><label for="Domain">Domain</label></td>
              <td><select name="domain" id="domain" required>
                <option value="web">Web</option>
                <option value="mobile">Mobile</option>
                <option value="ai">AI</option>
                <option value="iot">IoT</option>
                <option value="blockchain">Blockchain</option>
                <option value="ar/vr">AR/VR</option>
                <option value="cybersecurity">Cybersecurity</option>
                <option value="robotics">Robotics</option>
                <option value="other">Other</option>
              </select></td>
            </div>
            </tr>
            <tr>
            <div class="form-group">
              <td><label for="Idea-ppt">Idea ppt (pdf format with max-size 2mb):<a style="text-decoration:underline;color:var(--marigold)" href="../media/submission_template.pptx">Download Template</a></label></td>
              <td><input type="file" class="form-control-file" id="Idea-ppt" name="Idea-ppt" required accept=".pdf"></td>
              </tr>
            <tr >
                <td colspan="2" style="width:100%">
                    <span style="width:100%;display: flex;justify-content: center;"><button type="submit" class="btn newsletter-btn skewBg">submit</button></span></td>
            </tr>
        </table>
          </form>
  
        </div>
      </section>
</article>
</main>  
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> -->
{% endblock content %}